.primary_btn {
  border: 2px solid #607BB4;
  background: #fff;
  padding: 13px 73px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  transition: background .4s ease-in-out;

  &:hover {
    background: #607BB4;

    span {
      color: #fff;
    }
  }

  span {
    font-family: 'Optima', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #607BB4;
    text-align: center;
    transition: color .4s ease-in-out;
  }

  &.white_btn {
    padding: 13px 35px;
    border: 2px solid #FFFFFF;
    background: transparent;

    &:hover {
      background: #fff;

      span {
        color: #000;
      }
    }

    span {
      color: #FFFFFF;
    }
  }
}

.main_fs {
  position: relative;
  width: 100%;
  height: 791px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .main_fs--text {
    p {
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 56px;
      text-align: center;
      letter-spacing: 0.005em;
      color: #FFFFFF;

      span {
        display: block;
        font-family: 'Arno', serif;
        font-weight: 700;
        font-size: 50px;
        font-style: italic;
        line-height: 47px;
        letter-spacing: 1px;
      }
    }
  }

  .main_fs--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
}

.profit {
  padding: 88px 0 94px;
  position: relative;

  .profit_title {
    font-family: 'Arno', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 95%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 68px;
    text-align: center;
  }

  .profit_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  .profit_item {
    width: calc(33% - 180px);
    padding: 20px 0;
    position: relative;
    margin: 0 90px;

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      background: #000000;
      height: 1px;
      content: '';
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      background: #000000;
      height: 1px;
      content: '';
    }

    p {
      font-family: 'Arno', serif;
      font-style: italic;
      font-weight: normal;
      font-size: 26px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #000000;
      text-align: center;
    }
  }
}

.skin {
  position: relative;
  z-index: 2;
  margin-bottom: 98px;
}

.skin_img {
  position: relative;
  width: 100%;
  height: 524px;
  overflow: hidden;
  padding: 101px 47px;

  .skin_text {
    position: relative;
    z-index: 2;

    p {
      font-family: 'Arno', serif;
      font-style: italic;
      font-weight: bold;
      font-size: 50px;
      line-height: 95%;
      letter-spacing: 0.055em;
      color: #FFFFFF;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.high {
  position: relative;
  z-index: 3;
  margin-bottom: 74px;

  .high_wrap {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    display: flex;

  }

  .high_left--img {
    position: relative;
    width: 55%;
    height: auto;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .high_right {
    width: 40%;
  }

  .high_right--img {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -160px;
    margin-left: -90px;

    img {
      position: relative;
      width: 110%;
      height: auto;
    }
  }

  .high_right--text {
    padding-top: 62px;
    padding-left: 128px;
    padding-right: 60px;

    p {
      font-family: 'Optima', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.005em;
      color: #000000;
    }
  }
}

.mp_products {
  position: relative;
  margin-bottom: 74px;

  .primary_btn {
    margin: 0 auto;
  }

  .mp_products--wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .mp_products--item {
    width: calc(33% - 40px);
    margin: 0 20px 50px;
    position: relative;

    &:hover {
      .mp_products--item_img {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .mp_products--item_img {
    position: relative;
    width: 100%;
    height: 340px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  }

  .mp_products--item_name {
    text-align: center;
    width: 100%;
    max-width: 228px;
    margin: 0 auto;

    p {
      font-family: 'Arno', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #6B6B6B;
    }
  }
}

.banner {
  position: relative;
  margin-bottom: 46px;

  .banner_wrap {
    width: 100%;
    height: 590px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner_text {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 356px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-family: 'Optima', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        margin-bottom: 50px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
}

.reviews {
  padding: 56px 0 68px;
  position: relative;
  background: #E8F2F9;
  margin-bottom: 26px;

  .reviews_title {
    font-family: 'Optima', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 60px;
    text-align: center;
  }

  .reviews_wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews_item {
    padding: 30px 34px;
    background: #fff;
    width: calc(33% - 30px);
    margin: 0 15px 30px;
    position: relative;
    display: flex;
    flex-direction: column;

    .reviews_item--stars {
      margin-bottom: 18px;
      align-self: flex-end;
      position: relative;
      width: 81px;
      height: 17px;
      background-image: url("/img/stars.svg");
      background-size: contain;
    }

    .reviews_item--title {
      font-family: 'Arno', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.015em;
      color: #000000;
      margin-bottom: 2px;
    }

    .reviews_item--author, .reviews_item--date {
      span {
        font-family: 'Avenir', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
        color: #9E9E9E;
      }
    }

    .reviews_item--text {
      margin-top: 10px;

      p {
        font-family: 'Arno';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }
  }
}


.images_list {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .images_list--item {
    position: relative;
    width: 25%;

    .images_list--item_img {
      position: relative;
      width: calc(100% - 26px);
      height: 311px;
      overflow: hidden;
      margin: 0 13px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .images_list--item_text {
      margin-top: 26px;
      width: 100%;
      background: #EEF8E9;
      padding: 35px 0;

      p {
        font-family: 'Optima', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
      }
    }
  }
}