<header class="header">
    <div class="container">
        <div class="nav">
            <a href="/shop.html">Shop</a>
        </div>
        <a href="index.html" class="header_logo">
            <img src="img/header_logo.png" alt="">
        </a>
        <div class="nav">
            <a href="/about.html">About</a>
        </div>
        <div class="header_info">
            <a href="#" class="header_account">
                <img src="" alt="">
            </a>
            <a href="" class="header_cart">
                <img src="" alt="">
                <span class="header_cart--count">0</span>
            </a>
        </div>
    </div>
</header>